<div class="col-md-3">
    <div class="panel panel-danger">
        <div class="panel-heading" style="background: url('/Images/dark-logo-bg.png');">News</div>
        <div class="panel-body">
            <a href="#"><h4>Caritas University Literary and Art Association (CAULAA)</h4></a>
            <p>The Annual Awards Ceremony of Caritas University Literary and Art Association holds on December 1st, 2012 at …</p>
            <hr />
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading" style="background: url('/Images/dark-logo-bg.png');">Featured Projects</div>
        <div class="panel-body">

        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading" style="background: url('/Images/dark-logo-bg.png');">Social</div>
        <div class="panel-body">
            <div class="col-md-6">
                <a href="https://www.facebook.com/CaritasUniversity" target="_blank"><img src="~/Images/facebook.fw.png" /></a>
            </div>
            <div class="col-md-6">
                <a href="https://twitter.com/CaritasUniv" target="_blank"><img src="~/Images/twitter.fw.png" /></a>
            </div>
        </div>
    </div>
</div>
